<div nz-row nzJustify="center">
  <div
    nz-col
    nzXXl="16"
    nzXl="18"
    nzLg="20"
    nzMd="22"
    nzXs="24"
    class="product-item-card"
  >
    <ng-container
      *ngTemplateOutlet="
        productItemsCarousel;
        context: { listProducts: productData, title: 'Best seller' }
      "
    >
    </ng-container>
    <ng-container
      *ngTemplateOutlet="productTemplate; context: { listProducts: productData, title: 'Best seller' }"
    >
    </ng-container>
    <ng-container
      *ngTemplateOutlet="
        productItemsCarousel;
        context: { listProducts: productData, title: 'Top 20' }
      "
    >
    </ng-container>
  </div>

  <!-- start-product-item-carousel-template -->
  <ng-template
    #productItemsCarousel
    let-listProducts="listProducts"
    let-title="title"
  >
    <nz-page-header class="site-page-header" nzTitle="{{ title }}">
      <nz-page-header-content>
        <nz-divider nzType="horizontal"></nz-divider>
        <owl-carousel-o [options]="customOptions">
          <ng-template *ngFor="let item of listProducts" carouselSlide>
            <div class="item-carousel p-4">
              <ng-container
                *ngTemplateOutlet="productCardItem; context: { product: item }"
              >
              </ng-container>
            </div>
          </ng-template>
        </owl-carousel-o>
      </nz-page-header-content>
    </nz-page-header>
  </ng-template>
  <!-- end-product-item-carousel-template -->

  <!-- start-product-template -->
  <ng-template
    #productTemplate
    let-listProducts="listProducts"
    let-title="title"
  >
    <nz-page-header class="site-page-header" nzTitle="{{ title }}">
      <nz-page-header-content>
        <div
          nz-row
          nzJustify="center"
          [nzGutter]="[{ xs: 8, sm: 16, md: 24, lg: 32 }, 24]"
        >
          <div
            *ngFor="let item of listProducts"
            nz-col
            nzXXl="6"
            nzMd="8"
            nzXs="12"
            nzSm="14"
            nzXs="20"
            class="gutter-row"
          >
            <ng-container
              *ngTemplateOutlet="productCardItem; context: { product: item }"
            ></ng-container>
          </div>
        </div>
      </nz-page-header-content>
    </nz-page-header>
    <div class="py-3 mt-3" nzAlign="middle" nz-row nzJustify="center">
      <div class="d-flex justify-content-center" nz-col nzSpan="16">
        <nz-pagination
          (nzPageIndexChange)="change($event)"
          [nzPageIndex]="page + 1"
          nzTotal="{{ total_result }}"
          nzPageSize="{{ entries_per_page }}"
        ></nz-pagination>
      </div>
    </div>
  </ng-template>

  <!-- end-product-template -->

  <!-- start-product-card-item-template -->

  <ng-template #productCardItem let-product="product">
    <nz-card
      routerLink="product-detail"
      nzHoverable
      [nzLoading]="false"
      [nzActions]="[actionAddToCart, actionBuyNow]"
    >
     <img

      nz-image
      width="230px"
      height="230px"
      nzSrc="{{ product.product_img_urls[0] }}"
      nzDisablePreview
      alt=""
    />

      <nz-card-meta

        nzTitle="{{ product.product_name }}"
        nzDescription="{{ product.product_price }}"
      ></nz-card-meta>
    </nz-card>
    <ng-template #actionAddToCart>
      <em
        nz-icon
        nzTooltipTitle="Thêm vào giỏ hàng"
        nzTooltipPlacement="top"
        nz-tooltip
        nzTooltipColor="cyan"
        nzType="shopping-cart"
        nzTheme="outline"
      ></em>
    </ng-template>
    <ng-template #actionBuyNow>
      <em
        nzTooltipTitle="Mua ngay"
        nzTooltipPlacement="top"
        nz-tooltip
        nzTooltipColor="cyan"
        nz-icon
        nzType="dollar"
        nzTheme="outline"
      ></em>
    </ng-template>
    <ng-template #productCardImageTemplate>
      <img
        class="img-fluid"
        alt="example"
        src="https://adminbeauty.hvnet.vn/Upload/Files/bong-tay-trang-ipek-cotton-pads-120-mieng-beauty-garden-1.jpg?width=350&height=391&v=15042020"
      />
    </ng-template>
  </ng-template>

  <!-- end-product-card-item-template -->
</div>
