<nz-affix>
  <div class="container-fluid">
    <div class="row base-background py-4">
      <div
        class="
          col-md-2 col-xs-12
          d-flex
          align-items-center
          justify-content-center
          flex-row
        "
      >
        <h1 class="text-danger text-center">Logo</h1>
      </div>
      <div class="col-md-6 col-xs-12">
        <ul
          class="
            navbar-nav
            flex-row
            justify-content-center
            align-items-center
            h-100
          "
        >
          <li class="nav-item mx-3" *ngFor="let item of navItems">
            <a class="nav-link text-dark" routerLink="[item.path]">
              {{ item.name }}</a
            >
          </li>
        </ul>
      </div>
      <div
        class="
          col-xs-12 col-md-3
          d-flex
          flex-row
          align-items-center
          justify-content-center
        "
      >
        <div
          [nzPopoverContent]="isLoggedIn?userPopoverLoginedTmp:userPopoverUnLoggedInTmp"
          nz-popover
          nzPopoverPlacement="bottom"
          nzPopoverTrigger="hover"
          class="
            user
            mx-2
            py-3
            px-4
            pointer
            icon-item
            d-flex
            align-items-center
          "
        >
          <ng-template #userPopoverUnLoggedInTmp>
            <div class="user-popover-logout d-flex align-items-end justify-content-center">
              <span class="login-text" nz-typography>Bạn chưa đăng nhập</span>
              <button class="mx-1" nz-button nzBlock nzType="primary">Đăng nhập</button>
              <button class="mx-1" nz-button nzBlock nzType="primary">Đăng ký</button>
            </div>
          </ng-template>
          <ng-template #userPopoverLoginedTmp>
            <div class="user-popover">
              <div nz-menu class="w-100 border-0">
                <li
                  nz-menu-item
                  class="user-pop-over-item d-flex align-items-center"
                >
                  <i nz-icon nzType="user" nzTheme="outline"></i>
                  <span>Tài khoản của tôi</span>
                </li>
                <li
                  nz-menu-item
                  class="user-pop-over-item d-flex align-items-center"
                >
                  <i nz-icon nzType="lock" nzTheme="outline"></i>
                  <span>Đổi mật khẩu</span>
                </li>
                <li
                  nz-menu-item
                  class="user-pop-over-item d-flex align-items-center"
                >
                  <i nz-icon nzType="shopping" nzTheme="outline"></i>
                  <span>Giỏ hàng</span>
                </li>
                <li
                  nz-menu-item
                  class="user-pop-over-item d-flex align-items-center"
                >
                  <i nz-icon nzType="bell" nzTheme="outline"></i>
                  <span>Thông báo</span>
                </li>
              </div>
              <button nz-button (click)="logOut()" nzBlock nzType="primary">Đăng xuất</button>
            </div>
          </ng-template>

          <i nz-icon nzType="user" nzTheme="outline"></i>
          <span class="none-select mx-2">Tài khoản</span>
        </div>
        <div
          class="
            cart
            mx-2
            py-3
            px-4
            pointer
            icon-item
            d-flex
            align-items-center
          "
        >
          <i nz-icon nzType="shopping-cart" nzTheme="outline"></i>
          <span class="none-select mx-2">Giỏ hàng</span>
          <div class="dropdown-item">
            <p>aaaaa</p>

            <p>aaaaa</p>

            <p>aaaaa</p>

            <p>aaaaa</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</nz-affix>
