<h3>product-groups works!</h3>

<div nz-row nzJustify="end">
  <div nz-col class="py-2">
    <button nz-button nzType="primary" class="ml-2">
      Thêm
    </button>
    <button nz-button nzType="dashed" class="ml-2">
      Cập nhật
    </button>
    <button nz-button nzType="primary" class="ml-2">
      <div class="d-flex justify-content-center align-items-center">
        <i nz-icon nzType="delete" nzTheme="outline"></i>
      </div>
    </button>
  </div>
  <div nz-col nzSpan="24">

    <nz-table #editRowTable nzBordered [nzData]="data2" nzTableLayout="fixed">
      <thead>
        <tr>
          <th nzAlign="center" nzWidth="10%">STT</th>
          <th nzAlign="center" nzWidth="25%">Mã nhóm</th>
          <th nzAlign="center" nzWidth="45%">Tên nhóm</th>
          <th nzAlign="center" nzWidth="20%">Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of editRowTable.data; index as idx">
          <ng-container *ngIf="!isEditable(idx); else editTemplate">
            <td nzAlign="center">{{ idx + 1 }}</td>
            <td nzAlign="center">{{ data.group_id }}</td>
            <td nzAlign="center">{{ data.title }}</td>
            <td nzAlign="center" class="d-flex align-items-center justify-content-center flex-wrap">
              <button (click)="addEditable(idx, data.group_id, data.title)" nz-button nzType="text" nzShape="circle"
                class="d-flex justify-content-center align-items-center">
                <i nz-icon nzType="edit" nzTheme="outline"></i>
              </button>
              <button (click)="addEditable(idx, data.group_id, data.title)" nz-button nzType="text" nzShape="circle"
                class="d-flex justify-content-center align-items-center">
                <i nz-icon nzType="delete" nzTheme="outline" class="ant-text-danger"></i>
              </button>
            </td>
          </ng-container>
          <ng-template #editTemplate>
            <td nzAlign="center">{{idx + 1 }}</td>
            <td nzAlign="center">
              <form *ngIf="validateForm" nz-form [formGroup]="validateForm" class="w-100">
                <nz-form-item class="m-0 p-0">
                  <nz-form-control [nzErrorTip]="getErrorTooltips(idx, 'id')">
                    <input nz-input [formControlName]="'product-group-id-' + idx">
                  </nz-form-control>
                </nz-form-item>
              </form>
            </td>
            <td nzAlign="center">
              <form *ngIf="validateForm" nz-form [formGroup]="validateForm" class="w-100">
                <nz-form-item class="m-0 p-0">
                  <nz-form-control [nzErrorTip]="getErrorTooltips(idx, 'title')">
                    <input nz-input [formControlName]="'product-group-title-' + idx"
                      (ngModelChange)="onProductGroupTitleChange($event, idx)">
                  </nz-form-control>
                </nz-form-item>
              </form>
            </td>
            <td nzAlign="center" class="d-flex align-items-center justify-content-center flex-wrap">
              <button (click)="saveForm(data, idx)" nz-button nzType="text" nzShape="circle"
                class="d-flex justify-content-center align-items-center mx-1">
                <i nz-icon nzType="save" nzTheme="outline"></i>
              </button>
              <button (click)="hideEditableForm(idx)" nz-button nzType="text" nzShape="circle"
                class="d-flex justify-content-center align-items-center mx-1">
                <i nz-icon nzType="close-square" nzTheme="outline" class="ant-text-danger"></i>
              </button>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
