<div class="base-background p-0 m-0" nz-row nzJustify="center">
  <div nz-col nzSpan="24">
    <div
      id="carouselExampleIndicators"
      class="carousel slide "
      data-ride="carousel"
    >
      <div class="carousel-inner">
        <div
          *ngFor="let item of banners; index as idx"
          class="carousel-item {{ idx == 0 ? 'active' : '' }}"
          >
        <img nz-image [ngStyle]="{'height': bannerHeight}" style=" width: 100%;  object-fit: cover;"  nzSrc="{{item}}" class="" alt="...">

          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
  </div>
