<div class="base-background" nz-row nzJustify="center">
  <div nz-col nzSpan="24">
    <div
      id="carouselExampleIndicators"
      class="carousel slide col-12"
      data-ride="carousel"
    >
      <div class="carousel-inner">
        <div
          *ngFor="let item of banners; index as idx"
          class="carousel-item {{ idx == 0 ? 'active' : '' }}"
        >
        <img src="{{item.bannerImageUrl}}" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
  </div>
