<div nz-row nzAlign="middle" nzJustify="center" class="vh-100 base-background">
  <div
    nz-col
    nzXXl="14"
    nzXl="16"
    nzLg="18"
    nzMd="20"
    nzXs="22"
    class="h-75 bg-white auth-container"
    style="overflow: hidden"
  >
    <div nz-row nzJustify="center" class="h-100">
      <div
        nz-col
        nzLg="12"
        nzMd="12"
        nzXl="12"
        nzXs="0"
        class="h-100 left-login-container"
      ></div>
      <div
        nz-col
        nzXl="12"
        nzLg="12"
        nzMd="12"
        nzXs="20"
        class="h-100 right-login-container"
      >
        <div nz-row nzAlign="middle" nzJustify="center">
          <div nz-col nzSpan="24" class="img-title"></div>
        </div>
        <div class="w-100 h-100">
          <nz-tabset
            [nzCentered]="false"
            nzSize="large"
            [nzAnimated]="true"
            nzSize="large"
          >
            <nz-tab nzTitle="Tab 1">
              <!-- start login form -->
              <form
                nz-form
                class="login-form"
                [formGroup]="loginForm"
                (ngSubmit)="submitLoginForm()"
              >
                <div nz-row nzJustify="center">
                  <div nz-col nzLg="14" nzXs="22">
                    <nz-form-item>
                      <nz-form-control
                        [nzErrorTip]="
                          loginForm.get('username')?.hasError('required')
                            ? 'Bạn chưa nhập tài khoản'
                            : loginForm.get('username')?.hasError('maxlength')
                            ? 'Tên tài khoản quá dài'
                            : ''
                        "
                      >
                        <nz-input-group nzPrefixIcon="user">
                          <input
                            type="text"
                            formControlName="username"
                            nz-input
                            placeholder="Tài khoản"
                          />
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div nz-row nzJustify="center">
                  <div nz-col nzLg="14" nzXs="22">
                    <nz-form-item>
                      <nz-form-control
                        [nzErrorTip]="
                          loginForm.get('password')?.hasError('required')
                            ? 'Bạn chưa nhập mật khẩu !'
                            : loginForm.get('password')?.hasError('maxlength')
                            ? 'Vượt quá kí tự cho phép !'
                            : ''
                        "
                      >
                        <nz-input-group nzPrefixIcon="lock">
                          <input
                            formControlName="password"
                            type="password"
                            nz-input
                            placeholder="Mật khẩu"
                          />
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div nz-row nzJustify="center" class="login-form-margin">
                  <div nz-col nzLg="7" nzXs="11">
                    <label nz-checkbox formControlName="remember">
                      <span>Nhớ mật khẩu</span>
                    </label>
                  </div>
                  <div nz-col nzLg="7" nzXs="11" class="text-right">
                    <a class="login-form-forgot">Quên mật khẩu</a>
                  </div>
                </div>
                <div nz-row nzJustify="center">
                  <div nz-col nzLg="5">
                    <button
                      nzBlock="true"
                      nz-button
                      class="login-form-button login-form-margin my-2"
                      [nzType]="'primary'"
                      [nzLoading]="loginLoading"
                    >
                      Đăng nhập
                    </button>
                  </div>
                </div>
                <div nz-row nzJustify="center">
                  <div class="text-right mr-1" nz-col nzXl="7" nzXs="11">
                    Bạn chưa có tài khoản ?
                  </div>
                  <div nz-col nzXl="7" nzXs="11">
                    <a> Đăng ký ngay! </a>
                  </div>
                </div>
              </form>
              <!-- end login form -->
            </nz-tab>
            <nz-tab nzTitle="Tab 2">
              <!-- START-----------------REGISTER---------------------FORM -->
              <form
                nz-form
                class="register-form"
                [formGroup]="registerForm"
                (ngSubmit)="submitRegisterForm(registerForm.value)"
              >
                <div nz-row nzJustify="center">
                  <div nz-col nzLg="14" nzXs="22">
                    <nz-form-item>
                      <nz-form-control
                        [nzErrorTip]="
                          registerForm.get('username')?.hasError('required')
                            ? 'Bạn chưa nhập tài khoản !'
                            : registerForm
                                .get('username')
                                ?.hasError('maxlength')
                            ? 'Vượt quá kí tự cho phép !'
                            : registerForm
                                .get('username')
                                ?.hasError('minlength')
                            ? 'Tên tài khoản quá ngắn'
                            : ''
                        "
                      >
                        <nz-input-group nzPrefixIcon="user">
                          <input
                            type="text"
                            formControlName="username"
                            nz-input
                            placeholder="Tài khoản"
                          />
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>

                <div nz-row nzJustify="center">
                  <div nz-col nzLg="14" nzXs="22">
                    <nz-form-item formGroupName="pw">
                      <nz-form-control
                        [nzErrorTip]="
                          registerForm
                            .get('pw')
                            ?.get('password')
                            ?.hasError('required')
                            ? 'Bạn chưa nhập mật khẩu !'
                            : registerForm
                                .get('pw')
                                ?.get('password')
                                ?.hasError('maxlength')
                            ? 'Vượt quá kí tự cho phép !'
                            : registerForm
                                .get('pw')
                                ?.get('password')
                                ?.hasError('minlength')
                            ? 'Mật khẩu quá ngắn'
                            : ''
                        "
                      >
                        <nz-input-group nzPrefixIcon="lock">
                          <input
                            formControlName="password"
                            type="password"
                            nz-input
                            placeholder="Mật khẩu"
                          />
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div nz-row nzJustify="center">
                  <div nz-col nzLg="14" nzXs="22">
                    <nz-form-item formGroupName="pw">
                      <nz-form-control
                        nzValidateStatus="{{
                          !registerForm.get('pw')?.valid &&
                          registerForm.get('pw')?.get('confirmPassword')?.dirty
                            ? 'error'
                            : ''
                        }}"
                        [nzErrorTip]="
                          registerForm
                            .get('pw')
                            ?.get('confirmPassword')
                            ?.hasError('required')
                            ? 'Nhập lại mật khẩu !'
                            : registerForm.hasError('passwordnotmatch', 'pw')
                            ? 'Mật khẩu không khớp !'
                            : ''
                        "
                      >
                        <nz-input-group nzPrefixIcon="redo">
                          <input
                            type="password"
                            formControlName="confirmPassword"
                            nz-input
                            placeholder="Nhập lại mật khẩu"
                          />
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div nz-row nzJustify="center">
                  <div nz-col nzLg="14" nzXs="22">
                    <nz-form-item>
                      <nz-form-control
                        nzErrorTip="{{
                          registerForm
                            .get('phoneNumber')
                            ?.hasError('minlength') ||
                          registerForm.get('phoneNumber')?.hasError('maxlength')
                            ? 'Số điện thoại không hợp lệ'
                            : registerForm
                                .get('phoneNumber')
                                ?.hasError('required')
                            ? 'Bạn chưa nhập số điện thoại'
                            : ''
                        }}"
                      >
                        <nz-input-group nzPrefixIcon="phone">
                          <input
                            formControlName="phoneNumber"
                            type="text"
                            nz-input
                            placeholder="Số điện thoại"
                          />
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div nz-row nzJustify="center">
                  <div nz-col nzLg="14" nzXs="22">
                    <nz-form-item>
                      <nz-form-control
                        nzErrorTip="{{
                          registerForm.get('email')?.hasError('required')
                            ? 'Vui lòng nhập email'
                            : registerForm
                                .get('email')
                                ?.hasError('minlength') ||
                              registerForm.get('email')?.hasError('email')
                            ? 'Email không hợp lệ'
                            : ''
                        }}"
                      >
                        <nz-input-group nzPrefixIcon="mail">
                          <input
                            formControlName="email"
                            type="text"
                            nz-input
                            placeholder="Email"
                          />
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div nz-row nzJustify="center">
                  <div nz-col nzLg="5">

                    <button
                      nzBlock="true"
                      nz-button
                      class="login-form-button login-form-margin my-2"
                      [nzType]="'primary'"
                    >



                    </button>
                  </div>
                </div>
                <div nz-row nzJustify="center">
                  <div class="text-right mr-1" nz-col nzXl="7" nzXs="11">
                    Bạn đã có tài khoản ?
                  </div>
                  <div nz-col nzXl="7" nzXs="11">
                    <a> Đăng nhập ngay! </a>
                  </div>
                </div>
              </form>
              <!-- END-----------------REGISTER---------------------FORM -->
            </nz-tab>
          </nz-tabset>
        </div>
      </div>
    </div>
  </div>
</div>
