.auth-container{
  border-radius: 20px;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.left-login-container{
  background-image: url('/assets/images/login_background.png');
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center;
}

.img-title{
  width: 100%;
  height: 100px;
  background-image: url('/assets/images/hello.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}


