<div nz-row nzJustify="center" nzAlign="middle">
  <nav
    nz-col
    nzXXl="16"
    nzXl="18"
    nzLg="20"
    nzMd="22"
    nzXs="24"
    class="navbar navbar-expand-lg"
  >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <em nz-icon nzType="menu" nzTheme="outline"></em>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div nz-row class="bg-success w-100" nzJustify="center">
        <div nz-col nzSpan="24">
          <ul
            class="d-flex justify-content-center nav-menu"
            nz-menu
            nzMode="horizontal"
            nzTheme="light"
          >
            <ng-container
              *ngTemplateOutlet="menuTpl; context: { $implicit: categories }"
            ></ng-container>
            <ng-template #menuTpl let-categories>
              <ng-container *ngFor="let menu of categories">
                <li *ngIf="!menu.cat_child" nz-menu-item>
                  <em
                    nz-icon
                    [nzType]="menu.cat_icon"
                    *ngIf="menu.cat_icon"
                  ></em>
                  <a (click)="handleCategory(menu.cat_id)" [routerLink]="['/category', menu.cat_id]" routerLinkActive='active'>{{
                    menu.cat_text
                  }}</a>
                </li>
                <li *ngIf="menu.cat_child" (click)="handleCategory(menu.cat_id)" [routerLink]="['/category', menu.cat_id]" routerLinkActive='active' nz-submenu [nzTitle]="menu.cat_text">
                  <ul>
                    <ng-container
                      *ngTemplateOutlet="
                        menuTpl;
                        context: { $implicit: menu.cat_child }
                      "
                    ></ng-container>
                  </ul>
                </li>
              </ng-container>
            </ng-template>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
